<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="header-row">
                <div class="header-left">
                    <div class="header-date">
                        <p class="big-day">{{ day }}</p>
                        <div class="header-text">
                            <p class="header-day">{{ weekday }}</p>
                            <p class="header-month">{{ month }}</p>
                        </div>
                    </div>
                    <p class="info-bar">Last Updated: {{ update_time }}</p>
                </div>
                <div class="header-right">
                    <ul class="today-list">
                        {%- for item in today_events %}
                        <li>{{ item }}</li>
                        {%- endfor %}
                    </ul>
                </div>
            </div>
            <div class="week-grid">
                {%- for day in week_days %}
                <div class="day-column{% if day.is_today %} today{% endif %}">
                    <div class="day-header">
                        <div class="day-name">{{ day.name }}</div>
                        <div class="day-number">{{ day.number }}</div>
                    </div>
                    <ol class="list-unstyled day-events">
                        {{ day.events }}
                    </ol>
                </div>
                {%- endfor %}
            </div>
        </div>
    </body>
</html>
