@font-face {
    font-family: "Lexend-Regular";
    src: url('../font/Lexend-Regular.ttf');
}

@font-face {
    font-family: "Lexend-Light";
    src: url('../font/Lexend-Light.ttf');
}

@font-face {
    font-family: "TiltWarp-Regular";
    src: url('../font/TiltWarp-Regular.ttf');
}

h1, h2, h3, p, span {
    font-family: "Lexend-Regular", sans-serif;
}

.list-unstyled {
    text-overflow: ellipsis;
}

.big-day {
    font-family: "TiltWarp-Regular", sans-serif;
    font-size: 16rem;
    margin-top: -10px;
}

.event-date {
    font-family: "Lexend-Regular", sans-serif;
    font-size: 3rem;
    margin-top: 5px;
    max-width: 95%;
}

.event {
    display: list-item;  /* This has to be "list-item" */
    font-family: "Lexend-Regular", sans-serif;
    font-size: 2.4rem;
    list-style-position: inside;
    list-style-type: disc;  /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type */
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.event-time, .event-location {
    color: gray
}

.event-calendar-name {
    font-size: smaller;
}

.weather-forecast {
    font-family: "Lexend-Regular", sans-serif;
    font-size: 1.8rem;
}

.info-bar {
    font-family: "Lexend-Light", sans-serif;
    font-size: 1.3rem;
}

.date-padding {
    padding-right: 5px;
}
